# Byte-compiled / optimized / DLL files
__pycache__/

# Folders
data/
img/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Macbook
.DS_Store

# VS Code
.vscode
